<div>
  <section>
    <div class="sect-header">
      <h3>EXPERIENCE</h3>
      <hr>
    </div>
    <div>
      <h5>
        Jr. Full stack Developer Traineeship [Moringa School]
      </h5>
      <h6>May 2021- November 2021</h6>
      <h6> Duties </h6>
      <ul>
        <li>	Developed Front-end of the Project using JSF, JavaScript (Various Frameworks), HTML, Bootstrap, and J Query.</li>
        <li>	Involved with bug fixing on functionality, performance and designing issues with JavaScript J Query, HTML5, CSS3 and Angular.</li>
        <li>	Used Angular.js as a framework to create a Single Page Application (SPA) which can bind data to specific views and synchronize data with the server.</li>
        <li>	Designed and implemented the user interface using HTML5, CSS3, JavaScript and Angular.</li>
        <li>	Managed continuous maintenance and troubleshooting of Python Django projects.</li>
        <li>	Designed and configured database and back-end applications and programs.</li>
      </ul>
    </div>
    <div>
      <h5>
        IT system Analyst Intern [Nyeri law court]
      </h5>
      <h6>June 2019 - August 2019</h6>
      <h6> Duties </h6>
      <ul>
        <li>	Tested for acceptance of system changes and perform analysis on process and system measurements. </li>
        <li>	Collecting, analyzing of daily cause list for uploading into the Kenya Law report Website.</li>
        <li>	Worked closely with the different department officers to validate and review data from database for migration.</li>
        <li>	Web development and site maintenance.</li>
      </ul>
    </div>

    </section>
    
</div>
